.num{
    width: 30%;
    height: 400px;
    float:left ;
    background-color: skyblue;
    text-align: center;
    
}

.alphanum{
    float:right;
    background-color: slategrey;
    width: 35%;
    height: 400px;
    text-align: center;
    
    
}

.alpha{
    float:right ;
    width: 35%;
    height: 400px;
    background-color: turquoise;
    text-align: center;
   
}

body{
    margin: 0px;
}